<div class="partial__footer">
  <div class="container">
    <div class="two-thirds column">
      <p>
        <a href="#">Return to Top</a>
      </p>
      <p>
        We are UB ACM, University at Buffalo's undergraduate computer science organization. Our mission is to empower student peers and help them find their path in computer science.
      </p>
      <p>
        UB ACM hosts a variety of extracurricular events to achieve our goal. We have weekly meetings where our members or speakers run workshops and tech talks on the latest technologies used by professionals in industry or academia. Additionally, we run events like Hack Night and social events to allow students to connect with others with similar interests.
      </p>
      <hr />
      <div class="logos">
        <a href="/"><img class="logo" src="/assets/ubacm.png" /></a>
        <a href="http://engineering.buffalo.edu/computer-science-engineering/people/professional-and-student-organizations.host.html/content/shared/engineering/computer-science-engineering/shared/clubs/acm.detail.html" target="_blank"><img class="logo_wide" src="/assets/ub.png" /></a>
        <a href="https://www.sa.buffalo.edu/councils/engineering#anch17" target="_blank"><img class="logo" src="/assets/sa.png" /></a>
        <a href="https://acm.org" target="_blank"><img class="logo" src="/assets/acm.png" /></a>
      </div>
      <br />
      <p>
        <em>The "Circuit Bull" is an approved logography for UB ACM by the University at Buffalo Trademarks and Licensing department. The logos for our club's parent organizations, University at Buffalo School of Engineering and Applied Sciences, University at Buffalo Student Association, Asoociation for Computing Machinery logo, are owned by their respective owners.</em>
      </p>
    </div>
    <div class="one-third column">
      &copy; 2018 UB ACM<br />
      <br />
      <ul class="links">
        <li><a href="/conduct">Community Code of Conduct</a></li>
        <li><a href="/schedule">Event Schedule</a></li>
        <li><a href="/team">The Team</a></li>
        <li><a href="/checkins">Check-Ins</a></li>
        <br />
        <li><a href="https://ubacm.slack.com/signup" target="_blank">Slack</a></li>
        <li><a href="https://github.com/ubacm" target="_blank">GitHub</a></li>
        <li><a href="https://www.facebook.com/ubacm.org" target="_blank">Facebook</a></li>
      </ul>
    </div>
  </div>
</div>