@import '../variables';

.page__hack_night {  
  .sponsor_logo__title {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
    height: auto;
  }
  
  .sponsor_logo__silver {
    display: block;
    margin: 0 auto;
    padding-bottom: $spacing;
    max-width: 120px;
    width: 100%;
    height: auto;
  }
}
 