@import '../variables';

.partial__footer {
  background: $accent-color;
  color: $muted-color;
  font-size: 12px;
  padding: $spacing 0;

  a {
    color: $white-color;
  }

  .logos {
    align-items: center;
    display: flex;
    overflow: hidden;

    .logo {
      display: inline-block;
      width: 50px;
      height: auto;
      margin-right: $spacing;
    }

    .logo_wide {
      display: inline-block;
      width: 160px;
      height: auto;
      margin-right: $spacing;
    }
  }
}
