@import '../variables';

$show-big-nav: 900px;

.partial__header {
  position: fixed;
  width: 100%;
  z-index: 100;

  .wrapper {
    background: $white-color;
    box-shadow: 0 1px 4px $grey-color;
    border-bottom: 6px solid $accent-color;
    border-radius: $rounded-corner;
    height: 60px;
    margin: $spacing * 2 0;
    padding: $spacing;
    position: relative;
    
    > .branding {
      align-items: center;
      display: flex;
      height: 100%;
      
      > a {
        position: absolute;

        > img.logo {
          height: 80px;
          width: auto;
        }
      }
    }
  
    > .navigation {
      align-items: center;
      display: flex;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
  
      > .mobile_menu_toggle {
        color: $secondary-color;
        display: none;
        margin-right: $spacing * 2;
        
      }
      
      @media (max-width: $show-big-nav) {
        > .mobile_menu_toggle {
          display: inline-block;
        }
      }
      

      > ul.links {
        display: block;
        margin: 0 $spacing 0 0;
        
        @media (max-width: $show-big-nav) {
          display: none;
        }
        
        > li {
          display: inline-block;
          margin-bottom: 0;
          margin-right: $spacing;
          
          > a {
            color: $secondary-color;
            font-size: 18px;
            font-weight: 800;
            text-decoration: none;
          }
        }
      }
    }
  }
  
  .mobile_nav {
    background: rgba(255, 255, 255, 0.99);
    height: 100vh;
    display: none;
  }
  
  @media (max-width: $show-big-nav) {
    .mobile_nav {
      display: none;
      left: 0;
      padding: $spacing;
      position: fixed;
      top: 0;
      width: 100%;

      &.show_nav {
        display: block;
      }

      > .mobile_menu_toggle {
        color: $secondary-color;
        position: absolute;
        right: $spacing * 2;
        top: $spacing * 2;
      }

      > ul.links {
        list-style: none;
        margin-top: $spacing;
        margin-left: $spacing;
        margin-bottom: 0;
        
        > li {
          margin-bottom: $spacing;
          
          > a {
            text-decoration: none;
            font-size: 24px;
            font-weight: 800;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
