@import '../variables';

.partial__hero {
  align-items: center;
  background: url('/assets/davis_new.jpg');
  background-size: cover;
  display: flex;
  height: 60vh;
  padding-top: $nav-height;
  min-height: 600px;
  
  &.hack_night {
    background: url('/assets/hacknight/hero.jpg');
    background-size: cover;

    .hero_copy {
      > .logo {
        height: auto;
        margin-bottom: $spacing;
        max-width: 450px;
        width: 100%;
      }

      > h1 {
        font-size: 36px !important;
        font-weight: bold !important;
      }
    }
  }

  &.hackspace {
    background: url('/assets/hackspace/hero.jpg');
    background-size: cover;

    .logo {
      height: auto;
      margin-bottom: $spacing;
      max-width: 350px;
      width: 100%;
    }
  }

  &.senior_salutations {
    background: linear-gradient(0deg, #7f3f98, #613f98);
    background-size: cover;
    
    .hero_copy {
      background: rgba(84, 74, 159, 0.8);
      padding: $spacing * 2 0;
      
      > .logo {
        height: auto;
        margin-bottom: $spacing;
        max-width: 500px;
        width: 100%;
      }
  
      > h1 {
        font-size: 36px !important;
      }
    }
  }

  > .container > .hero_copy {
    color: $white-color;
    text-align: center;

    > h1 {
      font-size: 80px;
      font-weight: 400;
    }
    
    > h2 {
      font-size: 24px;
      font-weight: 800;
    }
  }
}