@import '../variables';

.page__hack_night {    
  .sponsors {
    text-align: center;
  }
  
  .sponsor_logo__title {
    max-width: 400px;
    width: 100%;
    height: auto;
  }
  
  .sponsor_logo__silver {
    margin: 0 $spacing $spacing $spacing;
    max-width: 150px;
    width: 100%;
    height: auto;
  }
}
 