<script>
  function toggleNav() {
    var navClass = 'show_nav'
    var element = document.getElementById('mobile_nav')

    if (element.classList) {
      element.classList.toggle(navClass)

    } else {
      // For IE9
      var classes = element.className.split(' ')
      var i = classes.indexOf(navClass)

      if (i >= 0) {
        classes.splice(i, 1)
      } else {
        classes.push(navClass)
        element.className = classes.join(' ')
      }
    }
  }
</script>

<div class="partial__header">
  <div class="container">
    <div class="wrapper">
      <div class="branding">
        <a href="/"><img class="logo" src="/assets/acm.png" /></a>
      </div>
      <div class="navigation">
        <ul class="links">
          <li class="hide_small"><a href="/">UB ACM</a></li>
          <li><a href="/events">Our Events</a></li>
          <li><a href="/hack">Hack Nights</a></li>
          <li><a href="/join">Stay Updated</a></li>
        </ul>
        <div class="mobile_menu_toggle" onclick="toggleNav()">
          <i class="fas fa-2x fa-bars"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="mobile_nav" id="mobile_nav">
    <div class="mobile_menu_toggle" onclick="toggleNav()">
      <i class="fas fa-2x fa-bars"></i>
    </div>

    <ul class="links">
      <li><a href="/">UB ACM</a></li>
      <li><a href="/events">Our Events</a></li>
      <li><a href="/hack">Hack Nights</a></li>
      <li><a href="/join">Stay Updated</a></li>
    </ul>
  </div>
</div>