<!doctype>
<html>
<head>
  <title>UB ACM</title>
  {{> metadata }}
</head>
<body class="page__hack_night">
  {{> header }}
  <div class="partial__hero hack_night">
    <div class="container">
      <div class="hero_copy">
        <img class="logo" src="/assets/hacknight/logo.png" />
      </div>
    </div>
  </div>
  <div class="container contents">
    <div class="row">
      <ul class="quick_links">
        <li><a class="alt_accent" href="#prizes">Hack Night Prizes</a></li>
        <li><a class="alt_accent" href="#finale">Semester Finale</a></li>
        <li><a class="alt_accent" href="#resumes">Send Resume to Sponsors</a></li>
        <li><a class="alt_accent" href="#sponsors">Sponsors</a></li>
      </ul>
    </div>
    <div class="row">
      <div class="two-thirds column">
        <h3 class="section_label">What is a Hack Night?</h3>
        <p class="big">Biweekly hack session at UB. Build awesome projects.</p>
        <p>
          Hack Nights are biweekly hack sessions in Davis Hall, University at Buffalo. Build awesome projects and connect with your fellow UB ACM peers.
        </p>
        
        <h3 class="section_label">Why Hack Nights?</h3>
        <p>
          Traditional 24-36 hour hackathons are great for students to focus and build amazing projects in a sprint. In fact, <a href="http://ubhacking.com" target="_blank">UB Hacking</a> is so successful it is now ran as an independent event! We've seen great projects from hackathons, and hope to see them productionize and mature over time.
        </p>
        <p>
          Here's where Hack Nights come in. We want to encourage students to work on long-term projects. During Hack Night, we turn Davis 101 into a coworking space for students to work on projects. Hack Nights are eight hour sessions on every other Saturdays during the semester.
        </p>

        <a class="anchor" id="prizes"></a>
        <h3 class="section_label">Prizes</h3>
        <p>
          At the Hack Night semester finale (May 5th!), we will be taking project submissions on anything students have worked on over the past semester. Everyone attending will be voting for their favorite projects, and the projects with the highest votes will win prizes!<br />
          <br />
          The following are the categories and their prizes; these are the currently confirmed categories to win, and we might add new categories throughout the semester! Each team member gets one of the listed item for the category they win, up to 4 items per team.
        </p>
        <ul>
          <li><strong>Most Useful Lifehack</strong>: Amazon Echo Dot</li>
          <li><strong>Best Hardware Hack</strong>: Raspberry Pi Zero W (Wireless) & Zero Essentials Kit</li>
          <li><strong>Funniest Hack</strong>: Syma X5C 2.4G 6 Axis Gyro HD Camera RC Quadcopter with 2.0MP Camera </li>
          <li><strong>Best Design</strong>: Victrola Vintage 3-Speed Bluetooth Suitcase Turntable</li>
          <li><em>More coming soon!</em></li>
        </ul>

        <a class="anchor" id="finale"></a>
        <h3 class="section_label">Semester Finale</h3>
        <p>
          At the end of the semester, we run a large 12-hour Hack Night event where participants can present a project they've worked on any time after the previous semester finale. We provide prizes to winners and list them on our site here! Check out the past winners right here:
          <ul>
            <li><a href="/hack/2017f">Hack Night Semester Finale Fall 2017 Winners</a></li>
          </ul>
        </p>

        <a class="anchor" id="resumes"></a>
        <h3 class="section_label">Resumes</h3>
        <p>  
          Want to send your resume to our sponsors? Visit <a href="https://ubdevs.com" target="_blank">https://ubdevs.com</a>, create an account, and submit your resume! Once submitted, sponsors will have access to your resume for recruiting purposes.
        </p>
        

        <a class="anchor" id="sponsors"></a>
        <h3 class="section_label">Sponsors</h3>
        <p>  
          There's no way we can run Hack Night without sponsors who see value in what we do for students.<br />
        </p>
        <div class="sponsors">
          <div class="row">
            <img class="sponsor_logo__title" src="/assets/acv.png" />
          </div>
          <div class="row">
            <img class="sponsor_logo__silver" src="/assets/google.png" />
            <img class="sponsor_logo__silver" src="/assets/valuecentric.png" />
          </div>
        </div>
      </div>

      <div class="one-third column">
        <h3 class="section_label" id="schedule">Hack Night Schedule</h3>
        <h4>Davis 101 1pm-9pm</h4>
        <ul>
          <li>Saturday, February 17th 2018</li>
          <li>Saturday, February 24th 2018</li>
          <li>Saturday, March 17th 2018*</li>
          <li>Saturday, March 31st 2018</li>
          <li>Saturday, April 28th 2018</li>
        </ul>
        <p><small>* Room changed to Norton 218 for Saturday, March 17th 2018</small></p>
        
        <h4>Semester Finale</h4>
        <ul>
          <li>Saturday, May 5th 9am-9pm</li>
        </ul>

        <h3 class="section_label">Rundown</h3>
        <ul>
          <li>1pm - Hack Night begins</li>
          <li>6pm - Dinner</li>
          <li>9pm - Hack Night ends</li>
        </ul>

        <p><strong>NEW</strong> Snacks, coffee, and tea available throughout the event!</p>

        <h3 class="section_label">Want more hacking?</h3>
        <p>
          UB ACM also manages <a href="/space">Hackspace</a>, a coworking hackerspace for computer science and engineering in O'Brian 5. The room is open from Monday to Friday from 9am to 9pm, and is all UB students to work in.<br />
          <br />
          Find out more at <a href="/space">http://ubacm.org/space</a>.
        </p>
      </div>
    </div>
  </div>
  {{> footer }}
</body>
</html>
