<!doctype>
<html>
<head>
  <title>UB ACM</title>
  {{> metadata }}
</head>
<body class="page__hack_night">
  {{> header }}
  <div class="partial__hero hack_night">
    <div class="container">
      <div class="hero_copy">
        <img class="logo" src="/assets/hacknight/logo.png" />
        <h1>Semester Finale</h1>
      </div>
    </div>
  </div>
  <div class="container contents">
    <div class="row">
      <ul class="quick_links">
        <li><a class="alt_accent" href="/hack/prizes">Prizes</a></li>
        <li><a class="alt_accent" href="/hack/schedule">Schedule</a></li>
        <li><a class="alt_accent" href="#submit">Submit a Project</a></li>
        <li><a class="alt_accent" href="#resumes">Send Resume to Sponsors</a></li>
      </ul>
    </div>
    <div class="row">
      <div class="two-thirds column">
        <h3 class="section_label">Semester Finale</h3>
        <p class="big">A 12-hour long event for the semester's last Hack Night.</p>
        <p>
          Hack Nights are biweekly hack sessions in Davis Hall, University at Buffalo. Build awesome projects and connect with your fellow UB ACM peers.
        </p>
        
        <a class="anchor" id="prizes"></a>
        <h3 class="section_label">Prizes</h3>
        <p>
          At the Hack Nights semester finale (May 5th!), we will be taking project submissions on anything students have worked on over the past semester. Everyone attending will be voting for their favorite projects, and the projects with the highest votes will win prizes! Each team member gets one of the listed item for the category they win, up to 4 items per team.<br />
          <br />
          <img src="/assets/hacknight/prizes.jpg" /><br />
          <br />
          <a href="/hack/prizes">List of Prize Categories</a>
        </p>
        
        <a class="anchor" id="submit"></a>
        <h3 class="section_label">Submit a Project</h3>
        <p>
          Project submissions begin at 6:00pm on May 5th, 2018. More information on how to submit a project will be posted here soon.
        </p>
        
        <a class="anchor" id="resumes"></a>
        <h3 class="section_label">Resumes</h3>
        <p>  
          Want to send your resume to our sponsors? Visit <a href="https://ubdevs.com" target="_blank">https://ubdevs.com</a>, create an account, and submit your resume! Once submitted, sponsors will have access to your resume for recruiting purposes.
        </p>
        <p>
          You can receive 2 check-in marks for submitting a resume and then filling out the form to receive your marks at <a href="https://goo.gl/forms/HCqf3zMHRxLEvXPi1">https://goo.gl/forms/HCqf3zMHRxLEvXPi1</a>.
        </p>
      </div>

      <div class="one-third column">
        <h3 class="section_label" id="schedule">Event</h3>
        <h4>May 5th, 2018 9am-9pm</h4>
        <h4>Davis 101</h4>
        <a class="button button_primary" href="/hack/schedule">Event Schedule</a>
        <br />
        <br />

        <h3 class="section_label">What are Hack Nights?</h3>
        <p>Learn more about the Hack Nights event series <a href="/hack/about">here</a>.</p>

        <h3 class="section_label">Sponsors</h3>
        <div class="sponsors">
          <div class="row">
            <img class="sponsor_logo__title" src="/assets/acv.png" />
          </div>
          <div class="row">
            <img class="sponsor_logo__silver" src="/assets/google.png" />
            <img class="sponsor_logo__silver" src="/assets/valuecentric.png" />
          </div>
        </div>
        
        <h3 class="section_label">Swag Pack</h3>
        <p>The first 100 attendees will receive the summer swag pack!</p>
        <img src="/assets/hacknight/swagpack.jpg" />
      </div>
    </div>
  </div>
  {{> footer }}
</body>
</html>
