<!doctype html>
<html>
<head>
  <title>UB ACM</title>
  {{> metadata }}
</head>
<body>
  {{> header }}
  <div class="partial__hero">
    <div class="container">
      <div class="hero_copy">
        <h1>Computer science by students for students.</h1>
        <a class="button button_primary" href="/join">
          Stay Updated with UB ACM
        </a>
      </div>
    </div>
  </div>
  <div class="container contents">
    <div class="row">
      <div class="two-thirds column">
        <h3 class="section_label">Latest News</h3>
        <div class="page__quick_updates">
          {{{ contents }}}
        </div>
      </div>
      <div class="one-third column">
        <a class="button button_primary" href="/schedule">
          Event Schedule 
        </a>
        <a class="button button_secondary" href="/hack">
          Hack Nights 
        </a>
        <a class="button" href="/join">
          Join Our Slack
        </a>
        <br />
        <br />
        <h3 class="section_label">What is UB ACM?</h3>
        <p>
          Our mission is to empower student peers and help them find their path in computer science.
          We do so by running a variety of student-led initiatives and events.
        </p>
        <p>
          UB ACM is free to join for all University at Buffalo students of any major. Stay updated with UB ACM's in-person events and meet peers online at <a href="/join">our Slack workspace!</a>
        </p>
      </div>
    </div>
  </div>
  {{> footer }}
</body>
</html>
