<!doctype>
<html>
<head>
  <title>UB ACM</title>
  {{> metadata }}
</head>
<body class="page__hack_night">
  {{> header }}
  <div class="partial__hero hack_night">
    <div class="container">
      <div class="hero_copy">
        <img class="logo" src="/assets/hacknight.png" />
      </div>
    </div>
  </div>
  <div class="container contents">
    <div class="two-thirds column">
      <h3 class="section_label">What is a Hack Night?</h3>
      <p class="big">Biweekly hack session at UB. Build awesome projects.</p>
      <p>
        Hack Nights are biweekly hack sessions in Davis Hall, University at Buffalo. Build awesome projects and connect with your fellow UB ACM peers.
      </p>
      
      <h3 class="section_label">Why Hack Nights?</h3>
      <p>
        Traditional 24-36 hour hackathons are great for students to focus and build amazing projects in a sprint. In fact, <a href="http://ubhacking.com" target="_blank">UB Hacking</a> is so successful it is now ran as an independent event! We've seen great projects from hackathons, and hope to see them productionize and mature over time.
      </p>
      <p>
        Here's where Hack Nights come in. We want to encourage students to work on long-term projects. During Hack Night, we turn Davis 101 into a coworking space for students to work on projects. Hack Nights are eight hour sessions on every other Saturdays during the semester.
      </p>

      <h3 class="section_label">Semester Finale</h3>
      <p>
        At the end of the semester, we run a large 12-hour Hack Night event where participants can present a project they've worked on any time after the previous semester finale. We provide prizes to winners and list them on our site here! Check out the past winners right here:
        <ul>
          <li><a href="/hack/2017f">Hack Night Semester Finale Fall 2017 Winners</a></li>
        </ul>
      </p>

      <h3 class="section_label">Sponsors</h3>
      <p>  
        There's no way we can run Hack Night without sponsors who see value in what we do for students.<br />
      </p>
      <div class="sponsors">
        <div class="row">
          <img class="sponsor_logo__title" src="/assets/acv.png" />
        </div>
        <div class="row">
          <img class="sponsor_logo__silver" src="/assets/google.png" />
          <img class="sponsor_logo__silver" src="/assets/valuecentric.png" />
          <img class="sponsor_logo__silver" src="/assets/soylent.jpg" />
        </div>
      </div>
      <br />
      <br />
      
      <h3 class="section_label">Future of Hack Nights</h3>
      <p>
        Hack Night in its current form is only the beginning. We want to provide more resources (hardware and software) for students and secure a permanent space within University at Buffalo dedicated for hacking. With the success of Hack Night, we hope to expand it and create a desirable space for productivity.
      </p>
      <br />
    </div>

    <div class="one-third column">
      <h3 class="section_label">Hack Night Schedule</h3>
      <h4>Davis 101 1pm-9pm</h4>
      <ul>
        <li>Saturday, February 17th 2018</li>
        <li>Saturday, February 24th 2018</li>
        <li>Saturday, March 17th 2018*</li>
        <li>Saturday, March 31st 2018</li>
        <li>Saturday, April 28th 2018</li>
      </ul>
      <p><small>* Room changed to Norton 218 for Saturday, March 17th 2018</small></p>
      
      <h4>Semester Finale</h4>
      <ul>
        <li>Saturday, May 5th 9am-9pm</li>
      </ul>

      <h3 class="section_label">Rundown</h3>
      <ul>
        <li>1pm - Hack Night begins</li>
        <li>6pm - Dinner</li>
        <li>9pm - Hack Night ends</li>
      </ul>

      <p><strong>NEW</strong> Snacks, coffee, and tea available throughout the event!</p>
      
      <h3 class="section_label">Can't Hack Enough?</h3>
      <p>UB ACM also organizes to go to away hackathons within the local area together! Check out the <a href="/schedule">club event schedule</a> or <strong>#hackathons</strong> on our Slack workspace to see where we're going.</p>
    </div>
  </div>
  {{> footer }}
</body>
</html>
