<!doctype>
<html>
<head>
  <title>UB ACM</title>
  {{> metadata }}
</head>
<body>
  {{> header }}
  <div class="partial__hero">
    <div class="container">
      <div class="hero_copy">
        <h1>UB ACM</h1>
        <h2>Computer science by students for students.</h2>
        <br />
        <a class="button button-primary icon-button">
          <i class="fab fa-slack fa-2x"></i> Join our Slack workspace!
        </a>
      </div>
    </div>
  </div>
  <div class="container contents">
    <div class="two-thirds column">
      <h3 class="section_label">What is UB ACM?</h3>
      <p class="big">
        Our mission is to empower student peers and help them find their path in computer science.
      </p>
      <p>
        We do so by running a variety of student-led initiatives and events, available for free to any University at Buffalo students.
      </p>

      <br />
      
      <h3 class="section_label">Our Events</h3>
      <p>
        All of our weekly meetings, events, and hackathons are <strong>optional</strong>, so pick and choose your favorites to come. We'd love for you to come to all of them though!
      </p>

      <div class="events">
        <div class="row">
          <div class="one-half column event">
            <i class="fas fa-book fa-3x"></i><br />
            <div class="event-type">Workshops</div>
          </div>
          <div class="one-half column event">
            <img class="hack_night_logo" src="/assets/hacknight.png" /><br />
            <div class="event-type">Hack Nights<br /><em>presented by ACV Auctions</em></div>
          </div>
        </div>
        <div class="row">
          <div class="one-half column event">
            <i class="fas fa-users fa-3x"></i><br />
            <div class="event-type">Tech Talks</div>
          </div>
          <div class="one-half column event">
            <i class="fas fa-coffee fa-3x"></i><br />
            <div class="event-type">Social Events</div>
          </div>
        </div>
      </div>
      <br />

      <a class="button button-primary" href="/events">
        Learn more about our events
      </a>
      <a class="button button_secondary" href="/hack">
        What are Hack Nights?
      </a>
      <br />
      <br />

      <h3 class="section_label">How can I join?</h3>
      <p>
        UB ACM is free for all University at Buffalo students of any major. UB ACM's online community can be found in our Slack workspace. From the leadership, we make all of our announcements first in the Slack workspace. Sign up with your <em>@buffalo.edu</em> address.<br />
        <br />
        To stay updated, we recommend downloading the Slack application and turn on important notifications. It is available as an app for all major platforms.
      </p>
      <a class="button button-primary icon-button" href="https://ubacm.slack.com/signup" target="_blank">
        <i class="fab fa-slack fa-2x"></i> Join our Slack workspace!
      </a>
      <br />
      <br />
    </div>

    <div class="one-third column">
      <a class="button button_primary" href="/schedule">
        Event Schedule
      </a>

      <br />
      <br />

      <h3 class="section_label">Quick Updates</h3>
      {{{ contents }}}
    </div>
  </div>
  {{> footer }}
</body>
</html>