@import 'lib/normalize';
@import 'lib/skeleton';

@import 'buttons';
@import 'logos';
@import 'variables';

@import 'components/checkins_list';

@import 'pages/hack_night';
@import 'pages/quick_updates';
@import 'pages/schedule';
@import 'pages/team';

@import 'partials/footer';
@import 'partials/header';
@import 'partials/hero';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: $white-color;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Helvetica', 'Arial', sans-serif;
}

a {
  color: $secondary-color;
}

ul {
  list-style: inside;
  
  > li {
    margin-bottom: 0;
  }
}

.contents {
  padding: $spacing 0;
  min-height: 90vh;

  &.pad_header {
    padding-top: 140px;
  }

  .section_label {
    color: $accent-color;
    border-bottom: 6px solid $accent-color;
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
  }

  p.big {
    font-size: 36px;
    font-weight: 400;
  }

  .events {
    text-align: center;

    .event {
      padding: $spacing 0;
      
      .event-type {
        padding-top: $spacing;
      }
    }
  }

  img {
    max-width: 100%;
  }
}

.hack_night_logo {
  height: 45px;
  width: auto;
}