{{#> template}}
{{#*inline "body"}}
{{> navbar}}
<div class="hero" data-image="hack-nights">
  <div class="container">
    <div class="hero__content" data-overlay>
      <div class="hack__hero">
        <div class="branding">
          <img class="logo" src="/assets/hacknights/logo.png" />
        </div>
        <p class="subtitle">Weekend hack sessions at UB. Build awesome projects.</p>
        <div>
          <a href="/hack/prizes" class="waves-effect waves-light pink btn">Prizes</a>
          <a href="https://apps.ubacm.org/profiles/upload-resume/" class="waves-effect waves-light indigo btn">Submit Resumes</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col m8">
        <h3>What are Hack Nights?</h3>
        <p>
          Hack Nights are biweekly hack sessions at University at Buffalo. Build awesome projects and connect with your fellow UB ACM peers.
        </p>
        
        <h3>Why Hack Nights?</h3>
        <p>
          Traditional weekend hackathons are great for students to focus and build amazing projects in a sprint. In fact, <a href="http://ubhacking.com" target="_blank">UB Hacking</a> is so successful it is now ran as an independent event! We've seen great projects from hackathons, and hope to see them productionize and mature over time.
        </p>
        <p>
          Here's where Hack Nights come in. We want to encourage students to work on long-term projects. Hack Nights are hack sessions students can work together, in a similar environment as a hackathon.
        </p>

        <h3>Prizes</h3>
        <p>
          UB ACM Hack Nights will have 3 prize categories for the Spring 2019 semester! Teams of up to four people can submit a project to multiple categories for public voting during the Semester Finale! Winners of each category can have their choice of a prize from the pool. The pool includes:
        </p>
        <ul>
          <li>Nintendo Switch (2 available)</li>
          <li>Oculus Go (2 available)</li>
          <li>Apple AirPods (2 available)</li>
          <li>Dell SE2416HX 23.8" Screen LED-Lit IPS Monitor (3 available)</li>
          <li>Victrola Vintage 3-Speed Bluetooth Suitcase Turntable (3 available)</li>
          <li>Amazon Echo Dot (3 available)</li>
          <li>Raspberry Pi Zero W (Wireless) & Zero Essentials Kit (2 available)</li>
        </ul>
        <a href="/hack/prizes">Learn more about prizes here...</a>
        <br />
        <br />
        
        <h3 id="finale">Semester Finale</h3>
        <p>
          At the end of the semester, we run a large 12-hour Hack Nights event where participants can present a project they've worked on any time after the previous semester finale. We provide prizes to winners and list them on our site here!
        </p>
        <p>
          Check out the past winners right here:
          <ul>
            <li><a href="https://vote.ubacm.org/events/2/" target="_blank">Fall 2018 Winners</a></li>
            <li><a href="/hack/2018s">Spring 2018 Winners</a></li>
            <li><a href="/hack/2017f">Fall 2017 Winners</a></li>
          </ul>
        </p>
      </div>

      <div class="col m4">
        <h3 id="schedule">Schedule</h3>
        <h5>Saturdays 2pm - 11pm @ Davis 101</h5> 
        <ul>
          <li>Feb 9th, 2019</li>
          <li>Feb 23rd, 2019</li>
          <li>Mar 9th, 2019</li>
          <li>Apr 6th, 2019</li>
          <li>Apr 27th, 2019 (semester finale 10am - 9pm)</li>
        </ul>
        <!-- <a class="button button_primary" href="https://vote.ubacm.org/events/" target="_blank">Submit A Project</a><br /> -->
        <!-- <p>Free lunch and dinner!</p> -->

        <h3>Sponsors</h3>
        <p>  
          There's no way we can run Hack Nights without sponsors who see value in what we do for students.<br />
        </p>
        <div class="hack__sponsors">
          <div class="title_sponsors">
            <a href="https://www.acvauctions.com/careers/" target="_blank"><img src="/assets/acv.png" /></a>
          </div>
          <div class="other_sponsors">
            <a href="https://www.bloomberg.com/careers/technology/engineering/" target="_blank"><img src="/assets/bloomberg.jpg" /></a>
            <a href="https://careers.google.com/jobs/" target="_blank"><img src="/assets/google.png" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{> footer }}
{{/inline}}
{{/template}}