<!doctype html>
<html>
<head>
  <title>UB ACM</title>
  {{> metadata }}
</head>
<body class="page">
  {{> header }}
  <div class="partial__hero senior_salutations">
    <div class="container">
      <div class="hero_copy">
        <img class="logo" src="/assets/senior_salutations/logo.png" /><br />
        <span>UB ACM and Scientista presents...</span>
        <h1>Senior Salutations</h1>
      </div>
    </div>
  </div>
  <div class="container contents">
    <div class="row">
      <div class="two-thirds column">
        <h3 class="section_label">What is Senior Salutations?</h3>
        <p class="big">Networking social event with graduating seniors or summer intern upperclassmen. Event open for everyone!</p>
        <p>
          UB ACM and Scientista presents Senior Salutations! Find out where your upperclassmen heading to in the near future (after graduation or summer internship). Networking is a huge part of your professional career in the future, and meeting upperclassmen and graduating seniors is a great way to start building those connections. 85% of jobs are filled by networking<small>1</small>! Leave an impression before they’re gone for good!<br />
          <br />
          <strong>Plus, we have a great lineup of activities for all attendees.</strong>
          <ul>
            <li>Pizza and cake</li>
            <li><em>Instagrammable</em> graduation decor</li>
            <li>Photographer courtesy of SA</li>
            <li>Fun networking event with your computer science and enginnering peers!</li>
          </ul>
        </p>

        <a class="anchor" id="rollcall"></a>
        <h3 class="section_label">Graduating or Going To An Internship?</h3>
        <p>  
          Graduating or going to an internship/REU? Sign up to be part of the roll call at this form here: <a href="https://goo.gl/forms/GJ2o9R885KzCejcI3" target="_blank">https://goo.gl/forms/GJ2o9R885KzCejcI3</a>.
        </p>

        <hr />
        <small>1</small>: <a href="https://www.linkedin.com/pulse/new-survey-reveals-85-all-jobs-filled-via-networking-lou-adler/" target="_blank">Lou Adler, New Survey Reveals 85% of All Jobs are Filled Via Networking</a>
      </div>

      <div class="one-third column">
        <h3 class="section_label">Where and When?</h3>
        <p class="big">May 7th, 2018 Davis 101 6pm-8pm</p>
        <ul>
          <li>6:00pm: Davis 101 opens, check-in starts, pizza is served.</li>
          <li>6:15pm: Roll call starts</li>
          <li>6:45pm: Roll call ends, cake is served, networking session begins</li>
          <li>8:00pm: Event ends</li>
        </ul>
      </div>
    </div>
  </div>
  {{> footer }}
</body>
</html>
